.category .banner {
  height: 30vw;
  max-height: 300px;
  object-position: center;
  background-size: cover;
  background-position-y: 50%;
  box-shadow: inset 1px 2px 20px 11px #0000007d;
}

.category .banner-text {
  position: relative;
  top: 50%;
  left: 5%;
  color: white;
  font-size: 200%;
  font-style: italic;
  text-shadow: 2px 4px 6px black;
}

