@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.no-display {
  display: none !important;
}

body {
  margin: 0;
  font-family: "Abel", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Urbanist";
}

button {
  all: unset;
  border: none;
  background-color: rgb(204, 26, 26);
  box-shadow: 0px 3px 7px 1px #0000004d;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
}

button:disabled {
  background-color: rgb(121, 121, 121);
}

a {
  text-decoration: none;
  text-decoration-line: none;
  color: initial;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.no-display {
  display: none !important;
}