.product-title {
  font-size: 200%;
  text-align: center;
  margin: 15px 0;
}

.product-price-desc {
  margin: 15px;
}

.price {
  font-size: 150%;
  font-weight: bold;
}

.add-to-cart {
  margin: 15px 0;
  padding: 10px 25px;
  box-shadow: none;
}

.summary .title {
  text-align: center;
  font-size: 125%;
  margin: 5px 0;
}

.summary .description {
  line-height: 150%;
}


@media (min-width: 700px) {
  .product-details {
    display: grid;
    grid-template-areas: 
    "title title"
    "carousel desc"
    "carousel desc";
    grid-template-columns: 3fr 2fr;
    max-width: 900px;
    margin: 0 auto;
  }

  .product-title {
    grid-area: title;
  }

  .picture-carousel {
    width: 100%;
    grid-area: carousel;
  }

  .product-price-desc {
    grid-area: desc;
  }

}

.error-message {
  border: 1px solid maroon;
  border-radius: 3px;
  padding: 2px;
  color: maroon;
  animation: appear-from-top 0.6s;
}


@keyframes appear-from-top {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  };
}

.tremble {
  animation: tremble 0.6s;
}

@keyframes tremble {
  0% {
    transform: translateX(5px);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100%{
    transform: translateX(0px);
  }
}