.product-title {
  font-size: 200%;
  text-align: center;
  margin: 15px 0;
}

.product-price-desc {
  margin: 15px;
}

.price {
  font-size: 150%;
  font-weight: bold;
}

.add-to-cart {
  margin: 15px 0;
  padding: 10px 25px;
  box-shadow: none;
}

.summary .title {
  text-align: center;
  font-size: 125%;
  margin: 5px 0;
}

.summary .description {
  line-height: 150%;
}


@media (min-width: 700px) {
  .product-details {
    display: grid;
    grid-template-areas: 
    "title title"
    "carousel desc"
    "carousel desc";
    grid-template-columns: 3fr 2fr;
    max-width: 900px;
    margin: 0 auto;
  }

  .product-title {
    grid-area: title;
  }

  .picture-carousel {
    width: 100%;
    grid-area: carousel;
  }

  .product-price-desc {
    grid-area: desc;
  }

}